<li class="news-card-outer">
    <div class="news-card">
        <a href="{{ include.url }}">
            <img src="{{ include.imgSrc }}" class="news-card-image"/>
            <div class="news-card-body">
                <div class="news-card-content">
                    <div class="news-card-title" >{{ include.title }}</div>
                    <div class="news-card-description ">
                        {{ include.description }}
                    </div>
                </div>
            </div>
        </a>
    </div>
</li>