div.level.has-background-danger.top-alert {
  margin-bottom: 0;
  padding: 10px 0;
}

.resource-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  height: 100%;
  background: whitesmoke;

  :nth-last-child(n){
    margin-bottom: 0;
  }
}

.resource-links_item {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: #00d1b2;
  padding: 28px 5px 28px 10px;
  margin-bottom: 13px;
  cursor: pointer;
  border: #8cdcb4 1px solid;
}
.resource-links_title {
  font-weight: 700;
  font-size: 1.2em;
  height: 5em;
  padding: 14px 5px;
  text-align: center;
}

.home-map_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: #00000059 4px solid;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  //flex-wrap: wrap;

  section {
    width: 96px;
  }
}

@media (max-width: 1088px) {
  .top-alert_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  .resource-links {
    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  .resource-links_item {
    text-align: center;
  }

  .home-map_wrapper {
    flex-direction: column;
  }
}